header
   nav
     h1 COMPANY
     ul.navUl
         li(class=active===1 && 'active')
            a(href='../index.html') 首页
         li(class=active===2 && 'active')
            a(href='../coreProducts.html') 核心产品
         li.aboutLi(class=active===3 && 'active' )
            a 关于我们
                ul.innerUl
                    li.companyIntro
                        a(href='../companyIntro.html') 公司简介
                    li.companyNews
                        a(href='../companyNews.html') 公司动态
         li(class=active===4 && 'active')
            a(href='../information.html') 新闻资讯
         li(class=active===5 && 'active')
            a(href='../contactUs.html') 联系我们



